body,div,p,ul,li,dl,dt,dd,h1,h2,h3,h4{padding:0;margin:0;}
body{font:12px/22px '\5B8B\4F53';background:#0a0e14 url(../images/bg.jpg) no-repeat center 37px; color:#6c6c6c; min-width:960px;}
a{cursor:pointer;text-decoration:none;color:#7d7d7d;}
a:hover{color:#ff3b2c;text-decoration:underline;}
ul{list-style:none;}
img{border:0 none;}
.fl{float:left;}.fr{float:right;}
.clear{zoom:1;}
.clear:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.ht{overflow:hidden;text-indent:-9999em;}.r_b{border:1px solid #353535; background:#1c1c1c; margin:0 0 6px 8px; width:593px;}
.warp{width:960px; margin:0 auto; }
.header{background:url(../images/header.jpg?v=1) no-repeat;height:120px; position:relative; width:960px; overflow:hidden;}
.logo{width:195px;height:120px;top:0;left:75px; position:absolute;}
.h_btn{float:right; padding-top:21px;}
.btn_xztb,.btn_sc,.bot_btn a,.title,.left_btn a,.login_qq,.login,.hot,.my_s,.f,.c,.h,.m,.server_list ul li a,.newslist li{background:url(../images/icon.png) no-repeat}
.top_btn{height:23px;}
.top_btn a{float:right; height:22px; margin-left:4px; text-align:center; color:#ededed;} 
.top_btn a.btn_xztb{width:114px; background-position:-364px -81px; text-indent: 20px;}
.top_btn a.btn_sc{width:63px;background-position:-487px -81px;}
.bot_btn{margin-top:45px; height:22px; padding-right:9px;}
.bot_btn a{float:left; height:22px; margin-left:2px; color:#cfc9c6; font-weight:bold; width:80px; text-align:center; background-position:-362px -121px;}
.bot_btn a:hover,.bot_btn a.active{background-position:-515px -121px;}
.bot_btn a.t{width:60px; background-position:-299px -121px;}
.bot_btn a:hover.t{background-position:-452px -121px;}
.bot_btn a.xsk{width:109px; background-position:0 -93px; text-indent:27px;}
/*main*/
.m_left{float:left; width:340px;}
.m_right{float:right; width:615px;}
.b_box{border:1px solid #282828; background:#0a0b0b; height:518px;}

.m_right .title{background-position:-999px -999px; height:31px; position: relative;}
.m_right .tou .n{position:absolute; left:19px; top: 9px; width:75px; height:22px; line-height:24px; border:1px solid #353535; overflow:hidden; border-bottom:none; background:#1c1c1c;}
.m_left .title{background-position:0 0; height:28px; width:323px; margin:9px 0 0 7px; overflow:hidden;}
.m_left .title a{width: 50px; line-height:28px; color:#cacaca;}
.title .n{float:left; width:87px; height:30px;padding-left:13px; font:bold 12px/30px '\5B8B\4F53';color:#a8a8a8;}
.newslist,.left_btn,.left_img{width:308px; margin:0 auto;}
.newslist{height:180px; margin:8px auto; padding: 0 11px; /*background: #1a1a1b;*/}
.newslist li{padding:0 0 0 10px; background-position:-607px -46px;}
/*.left_btn,.left_img{width:308px; margin:0 auto;}*/
.left_btn{height:40px;}
.left_btn a{display:block; height:40px; width:144px; overflow:hidden; text-indent:-9999em;}
.left_btn a.but1{background-position:0 -117px;}
.left_btn a.but2{background-position:0 -160px;}
.left_img{padding:10px 0 2px; height:174px;}
.left_img a img{width:140px; height:170px; border:2px solid #3c0000; display:block;}
.left_img a img:hover{border:2px solid #790000;}
.prompt{text-align:center; padding-top:4px;color:#616161;}
.user{float:right;}
.user span{color:red;}
.info{float:right; height:22px; line-height:22px; padding-left:20px; margin-top:5px; color:#888;}
.info li{float:left;padding-right:10px; color:#a8a8a8;}
.login_qq{display:block; padding-left:17px; background-position:-598px -82px; color:#a8a8a8;}
.login_inpt{width:74px; padding:0 5px; height:20px; background:#262626; border:1px solid #454545; color:#a8a8a8;}
a.login,a.my_s{display:block; width:50px; height:22px; background-position:-480px -33px;}
a.login:hover,a.my_s:hover{background-position:-480px -55px;}
.hot_server{height:54px; padding-top:15px; text-align:center; }
.hot{display:block; width:475px; height:39px; font:bold 14px/39px '\5B8B\4F53'; text-indent: 50px; color:#dcdcdc; margin:0 auto; background:url(../images/hot.jpg) no-repeat}
.hot:hover{color:#fff;text-decoration:underline;}
.hot span{color:#ffe050;}
.my_server,.r_icon{background:none;}
a.my_s{background-position:-540px -33px;}
a.my_s:hover{background-position:-540px -55px;}
.my_box{height:47px; padding:0 0 0 12px; border-top:1px solid #353535;}
.r_icon{padding-right:10px;margin:0; line-height:30px;}
.r_icon li{padding:0 0 0 15px; margin-left:5px;}
.r_icon .f{color:#a9cb4d; background-position:-601px -156px;}
.r_icon .c{color:#ff0000; background-position:-602px -111px;}
.r_icon .h{color:#ff4e00; background-position:-602px -133px;}
.r_icon .m{color:#7d7d7d; background-position:-602px -180px;}
.server{margin:0 auto; height:278px; padding-left:10px; overflow:hidden; border-top:1px solid #353535;}
.server_tab{height:24px; padding:13px 0 0 10px; border-bottom:1px solid #2b2b2b; width:563px;}
.server_tab li{float:left; height:23px; font-weight:bold; width:78px; text-align:center; cursor:pointer; border:1px solid #2b2b2b; border-bottom:none; margin-right:9px; color:#a1a3a4; background:#161513;}
.server_tab li.active{background:#292929; color:#cecece; font-weight:bold;}
.server_list{margin-top:13px; width:574px; overflow:hidden;}
.server_list ul{width:590px;}
.server_list ul li{float:left;height:21px; width:132px; margin:0 15px 10px 0;}
.server_list ul li a{display:block; height:21px; width:132px; background-position:-441px -148px; color:#d1d1d1;overflow:hidden;}
.server_list ul li a:hover{background-position:-299px -148px; color:#e9e9e9;}
.server_list ul li a span{line-height:22px;}
.server_list ul li.g a{background-position:-299px -175px; color:#e9e9e9;}
.server_list ul li.g a:hover{color: #e9e9e9;}
.server_list ul li a i{float:left; margin:5px 4px 0 7px; height:11px; width:11px; overflow:hidden;text-indent:-9999em;}
.server_list ul li a i.f{background-position:-602px -165px;}
.server_list ul li a i.c{background-position:-602px -120px;}
.server_list ul li a i.h{background-position:-602px -142px;}
.server_list ul li a i.m{background-position:-602px -188px;}
.footer{background:#020200;height: 120px;}