@charset "UTF-8";
html,body,div,span,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,em,img,samp,small,strong,sub,b,i,dl,dt,dd,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary{padding:0;margin:0;}
table{font-size:12px;border-collapse:collapse;border-spacing:0;margin:0 auto!important;}
tr,th,td{font-size:12px;}
ol,ul{list-style:none;}
li{list-style-type:none;vertical-align:bottom;}
img{vertical-align:top;border:0;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:normal;}
a{color:#080000;text-decoration:none;outline:none;}
input{outline:none;}
a:hover{text-decoration:none;}
a,button{cursor:pointer}
.clear{clear:both;}
.cls{*zoom:1;}
.jt-scroll{width: 2118px;position: absolute;top: 0;left: 0;}
.cls:after{display:block;overflow:hidden;clear:both;height:0;visibility:hidden;content:".";}
.hidden{display:none;}
.a-nb{background:url(about:blank);text-indent:-9999px;}
.wPage{width:1200px;margin:0 auto;}
.f-l{float:left;display:inline;}
.f-r{float:right;display:inline;}
.i-b{display:inline-block;vertical-align:top;*zoom:1;}
.i-b{*display:inline;}
input::-webkit-input-placeholder{color:#656565;}
-ms-input-placeholder{color:#656565;}
-moz-input-placeholder{color:#656565;}
.s-body input::-webkit-input-placeholder{color:#333;}
.s-body input::-ms-input-placeholder{color:#333;}
.s-body input::-moz-input-placeholder{color:#333;}
.time{float:right;color:#595d61;}
.text-out{position:absolute;left:-9999px;top:-9999px;}
html{*overflow-x:hidden;*zoom:1;}
.wp{margin:auto;width:1200px;}
.content{position:relative;background:#211e1e;min-width:1200px;overflow:hidden;padding-bottom:50px;}
.header{height:498px;width:100%;}
.main-nav-box{background:url("../images/nav_bg.png") center top no-repeat;width:100%;position:absolute;left:0;top:0;}
.main-nav{background:url("../images/nav_con.png") center top no-repeat;height:98px;font-size:16px;text-align:center;position:relative;}
.main-nav .nav{float:left;padding-top:20px;width:160px;color:#eaeaea;}
.main-nav .nav:hover{color:#ff2a07;}
.main-nav .nav-1{width:140px;margin-left:38px;}
.main-nav .nav-4{margin-left:208px;}
.main-nav .nav span{display:block;color:#7a7a7a;font-size:12px;}
.logo-box{position:absolute;left:0;top:0;width:100%;}
.logo-box .con{position:relative;}
.logo{position:absolute;left:50%;top:0;height: 112px; width: 193px;background:url("../images/logo.png") no-repeat center top;margin-left:-96px;}
.banner-box{height:750px;position:relative;}
.banner{height:750px;width:2000px;position:absolute;left:50%;margin-left:-1000px;top:0;overflow:hidden;}
.kv-top-img{position:relative;clear:both;overflow:hidden;width:2000px;height:795px;}
.kv-top-img li{overflow:hidden;width:2000px;height:795px;}
.h-main{position:absolute;top:370px;left:0;width:100%;}
.h-main .con{position:relative;}
.tip-18{position:absolute;left:110px;top:0;font-size:12px;line-height:24px;height:24px;color:#22130a;}
.server-box{color:#fff;background:url("../images/server_bg.png") center top no-repeat;width:738px;height:109px;color:#eaeaea;position:relative;}
.server-box .tle{height:24px;line-height:24px;font-size:14px;padding-left:10px;}

/* 选服 */
.s-fastin{background:#c69368;color:#141315;height:18px;line-height:18px;text-align:center;width:60px;}
.select1,.select2{display:inline-block;position:relative;*display:inline;*margin-right:4px;*z-index:2}
.choice-tab{height:78px;height:31px;position:absolute;z-index:9;left:11px;top: 30px;/* color:#c18f66; */}
.option-dom{background:#C69368;font-size:12px;overflow:hidden;width:180px;border:1px solid #A2A2A2;padding:1px;}
.option-dom li{height:16px;color:#000;cursor:pointer;float:left;line-height:16px;width:56px;_width:55px;padding:2px;text-align:center;overflow:hidden;}
.option-dom li.focus{background:#782110;color:#fff;}
.select-dom{width:100px;height:18px;display:inline-block;background:#c69368;color:#333;vertical-align:middle;position:relative;}
.select-con{width:88px;height:18px;position:absolute;left:0;top:0;background:url(../images/spacer.gif);line-height:17px;cursor:pointer;text-align:center;color:#141315;}
.select-btn{position:absolute;width:0;height:0;display:block;border-top:5px solid #4a281d;border-left:5px solid #C29168;border-right:5px solid #C69368;border-bottom:none;cursor:pointer;_font-size:0;overflow:hidden;right:6px;top: 6px;}
#select-dom-xz{width:60px;}
#select-dom-xz .select-con{width:44px;border:0;overflow:hidden;}
.type-option-dom{width:98px;border:1px solid #C69368;background:#C69368;}
.option-bg{position:absolute;display:none;left:0;top:23px;}
.option-bg-type{left:0px;top:21px;}
.sup-tab-btn{line-height:16px;height:16px;color:#141315;cursor:pointer;padding:2px 0;text-align:center;}
.select-type{z-index:2;position:absolute;left: 190px;top: 30px;}
#btnFast{width: 60px;height: 18px;display:inline-block;overflow:hidden;background-color: #973200;color:#fff;text-align:center;line-height: 17px;vertical-align:middle;border-radius: 3px;margin-left: 4px;}
#btnFast:hover{background-color: #c94f12;}
.more-ser{position:absolute;right:-6px;top:-2px;background:url(../images/s-more.png) no-repeat;width:32px;height:28px;}
.choice-list{height:44px;overflow:hidden;width: 540px;margin: 32px 0 0 10px;}
.choice-list li{height: 24px;line-height: 23px;overflow:hidden;background: url("../images/new_icon.png") 0 center no-repeat;padding-left: 18px;width: 162px;float:left;}
.choice-list li a{display:block;width: 148px;color:#fff;}
.choice-list li a:hover{color:#ff0;}
.choice-list li span{float:right;width:52px;}
.server-more{position:absolute;height:62px;width:86px;color:#fff;font-size:14px;left:552px;top: 38px;background:url("../images/cmb.png") 0 0 no-repeat;}
.server-more span{display:block;padding:10px 0 0 10px;}
.server-more:hover{background-position:-89px 0;}

/* main */
.main{position:relative;}
.sec-1{height:353px;overflow:hidden;position:relative;}
.sec-1 .mod-left,.sec-2 .mod-left,.newsPage .mod-left{width:274px;}
.sec-1 .mod-left, .sec-1 .mod-right{overflow: hidden;}
.startgame{display:block;height:106px;background:url("../images/cmb.png") no-repeat 0 -225px;}
.startgame i,.startgame span{display:block;height:100%;width:100%;background:url("../images/start_txt.png") center center no-repeat;}
.startgame i,.startgame:hover span{display:none;}
.startgame:hover i{display:block;animation:linear icoBig .4s;-webkit-animation:linear icoBig .4s;}
.relat-btn{height:60px;}
.relat-btn a{float:left;width:136px;height:100%;line-height:60px;color:#ff2a07;text-indent:48px;font-size:16px;background:url("../images/cmb.png") 0 -163px no-repeat;position:relative;}
.relat-btn .r-btn-1{border-right:solid 1px #242525;}
.relat-btn .r-btn-2{border-left:solid 1px #242525;}
.relat-btn i{height:30px;width:30px;position:absolute;top:15px;left:18px;background:url("../images/cmb.png") no-repeat;transition:all 1.5s;-webkit-transition:all .5s;}
.relat-btn .r-btn-1 i{background-position:-245px -124px;}
.relat-btn .r-btn-2 i{background-position:-245px -86px;}
.relat-btn a:hover{background-position:-138px -163px;}
.relat-btn a:hover i,.link-list a:hover i{transform:rotateY(360deg);-webkit-transform:rotateY(360deg);}

/* login */
.loginframe{height:187px;overflow:hidden;background:#2d2d2f;}
.loginframe .log{position:relative;margin:10px 26px 0 22px;}
.loginframe .log li{position:absolute;font-size:14px;}
.loginframe label{color:#093531;line-height:22px;}
.loginframe .ipt1{display:block;height:25px;width:100%;line-height:25px;text-indent:10px;background:#a8a8a9;color:#656565;}
.log .user{left:0;top:14px;width:100%;}
.log .psw{left:0;top:50px;width:100%;}
.log-btn{left:0;top:115px;}
.remember{left:0;top:85px;}
.psw-btn{left:167px;top:85px;}
.reg-btn{left:194px;top:90px;}
.log-btn a{display:block;background:url("../images/cmb.png") no-repeat 0 -65px;text-align:center;height:47px;width:224px;line-height:44px;color:#242324;font-size:24px;}
.log-btn a:hover{background-position:0 -115px;}
.remember label,.psw-btn a,.reg-btn a{color:#bdbdbd;}
.loged{padding: 28px 20px 0;}
.loged li{line-height:23px;color:#fff;}
.loged li a{color:#ff2a07;}
.kv-news{height:353px;position:relative;overflow:hidden;width:926px;}
.kv-contain{height:353px;width:533px;overflow:hidden;position:relative;}
.kv-cnt li{display:inline;float:left;height:353px;width:533px;overflow:hidden;}
.kv-cnt li img{height:100%;width:100%;}
.kv-nav{position:absolute;right:10px;bottom:10px;height:12px;}
.kv-top-nav{position:absolute;top:480px;right:50%;margin-right:-600px;}
.kv-nav li,.banner .kv-top-nav li{display:inline;float:left;height:12px;width:12px;overflow:hidden;line-height:0;border-radius:6px;margin:0 4px;background:#9fa1a4;cursor:pointer;transition:all .4s;}
.kv-nav li.cur,.banner .kv-top-nav li.cur{background:#dca627;width:20px;}
.news{position:absolute;top:0;left:533px;width:393px;height:353px;overflow:hidden;background:url("../images/news_bg.png") center bottom no-repeat;}
.news .n-hd{position:relative;height:58px;padding:10px 10px 0;}
.news .n-hd ul{border-bottom:solid 1px #333;height:46px;}
.news .n-hd li{width:40px;text-align:center;display:inline;float:left;font-size:16px;margin:15px 0 0 20px;}
.news .n-hd li a{display:block;height:100%;color:#918f8f;padding-bottom:7px;}
.news .n-hd li.cur a{color:#fff;font-weight:700;border-bottom:solid 2px #ab2b3b;}
.news .n-hd .first a{border-left:none;}
.news-more{display:block;position:absolute;top:25px;right:12px;height:20px;line-height:18px;width:42px;color:#a1a1a1;}
.news-more i{position:absolute;height:100%;width:14px;background:url("../images/more.png") center center no-repeat;right:0;top:0;}
.news-more:hover{color:#fff;}
.news-list{font-size:14px;padding:12px;}
.hot-line{line-height:38px;text-align:center;font-size:16px;font-weight:bold;background:#181515;width:345px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.news-list .hot-line a{color:#ff2a07;display:inline-block;*display:inline-block;*zoom:1;padding-left:20px;vertical-align:middle;background:url("../images/hot_icon.png") left center no-repeat;}
.news-list ul{margin:0 2px;}
.news-list li{line-height:25px;margin-bottom:6px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.news-list li .time{margin-right:20px;}
.news-list a{color:#918f8f;}
.n-link{transition:all .4s ease;}
.n-link:hover{padding-left:8px;color:#db2d04;}
.sec-2{height:398px;margin:38px 0;}
.sec-2 .mod-mid{width:533px;}
.sec-2 .mod-right{width:393px;}
.link-list{width:274px;height:398px;background:url("../images/link_list.png") center center no-repeat;}
.link-list .con{padding:0 56px;}
.link-list a{display:block;height:80px;line-height:80px;color:#fff;position:relative;font-size:20px;padding-left:55px;}
.link-list a i{transition:all 1.5s;-webkit-transition:all .5s;position:absolute;height:50px;width:32px;left:0;top:15px;background:url("../images/link_icon.png") no-repeat;}
.link-list .link-1 i{background-position:0 10px;}
.link-list .link-2 i{background-position:0 -72px;}
.link-list .link-3 i{background-position:0 -150px;}
.link-list .link-4 i{background-position:0 -229px;}
.link-list .link-5 i{background-position:0 -308px;}

/* role */
.roleWrap{height:398px;background:url("../images/role_bg.jpg") center top no-repeat;overflow:hidden;position:relative;}
.roleWrap .r-hd{background:url("../images/role_hd.png") 1px 0 no-repeat;position:absolute;left:0;top:0;z-index:2;}
.roleWrap .r-hd ul{padding-left:1px;}
.roleWrap .r-hd li{float:left;display:inline;font-size:16px;height:49px;width:110px;line-height:49px;}
.roleWrap .r-hd a{color:#2e2f31;display:block;height:100%;padding-left:35px;position:relative;}
.roleWrap .r-hd li .rt-1 i{background-position:1px center;}
.roleWrap .r-hd li .rt-2 i{background-position:-53px center;}
.roleWrap .r-hd li .rt-3 i{background-position:-96px center;}
.roleWrap .r-hd li .rt-4 i{background-position:-148px center;}
.roleWrap .r-hd li i{display:none;position:absolute;height:100%;width:35px;background:url("../images/role_wq.png") no-repeat;left:0;top:0;}
.roleWrap .r-hd li.cur{background:#af0000;}
.roleWrap .r-hd li.cur i{display:block;}
.roleWrap .r-hd li.cur a{color:#fff;}
.r-hd .line{height:1px;line-height:0;background:#bab4b0;width:240px;margin-top:5px;position:relative;font-size:0;}
.r-hd .line i{display:block;height:3px;width:42px;background:#c1200b;position:absolute;top:-1px;left:0;transition:all .2s ease;}
.role-con{position:absolute;left:0;top:0;width:100%;height:100%;}
.role-con li{position:absolute;right:-50px;bottom:0;overflow:hidden;height:398px;width:533px;display:none;}
.role-con .role-1{background:url("../images/role_1.png") no-repeat center center;}
.role-con .role-2{background:url("../images/role_2.png") no-repeat center center;}
.role-con .role-3{background:url("../images/role_3.png") no-repeat center center;}
.role-con .role-4{background:url("../images/role_4.png") no-repeat center center;}
.gonglue{background:#242425 url("../images/gl_bg.png") center bottom no-repeat;height:398px;}
.gonglue .g-tle{padding:10px 14px;}
.gonglue .g-tle .con{position:relative;border-bottom:solid 1px #333;height:36px;}
.gonglue .g-tle p{font-size:16px;color:#fff;border-bottom:solid 2px #ab2b3b;height:36px;display:inline-block;}
.gonglue .news-more{top:8px;}
.gonglue .gl{padding:20px 15px;}
.gonglue .gl li{height:26px;line-height:26px;padding-left:12px;position:relative;background:url("../images/dot.jpg") 0 center no-repeat;color:#a7a7a7;font-size:14px;}
.gonglue .gl li a{color:#a7a7a7;}
.sec-3{height:157px;}
.card-list a{float:left;margin-left:4px;width:297px;height:175px;overflow:hidden;}
.card-list .card-1{margin-left:0;}
.card-list img{transition:all .4s;-webkit-transition:all .4s;-moz-transition:all .4s;-ms-transition:all .4s;}
.card-list a:hover img{transform:scale(1.05);-webkit-transform:scale(1.05);-moz-transform:scale(1.05);-ms-transform:scale(1.05);}
.sec-4{margin:38px 0;background:#242425;height:406px;}
.sec-4 .mod-right{width:372px;}
.video-area{width:828px;position:relative;z-index:12;}
.movie-area{width:808px;height:406px;position:relative;}
.movie-area .play-on{position:absolute;left:0;top:0;height:100%;width:100%;background:url("../images/b_video_bg_0.jpg") left center no-repeat;}
.movie-con{border-right:solid 2px #da0505;height:100%;width:100%;}
.video-area .list{text-align:center;width:0;height:100%;position:absolute;left:810px;top:0;border-right:solid 2px #da0505;background:#000;z-index:11;transition:all .3s;}
.video-area .list .con{width:100%;overflow:hidden;height:100%;}
.video-area .list-show{width:118px;}
.video-area .arrow{height:48px;line-height:24px;width:20px;text-align:center;color:#fff;background:#da0505;position:absolute;top:50%;margin-top:-24px;left:0;transition:all .3s;}
.video-area .list-show .arrow{left:118px;line-height:48px;}
.video-area .list .arrow .uf,.video-area .list-show .arrow .f{display:none;}
.video-area .list-show .arrow .uf{display:block;}
.list .tab{float:left;background:#232425;height:16px;width:50px;color:#a7a7a7;line-height:16px;margin:5px 0 0 6px;border-bottom:solid 1px #232425;}
.list .tab:hover,.list .cur{border-color:#da0505;}
.list .panel-con{margin-top:20px;width:100%;}
.list .panel{display:none;}
.list .panel li{float:left;width:48px;height:48px;border:solid 1px #000;line-height:48px;color:#a7a7a7;margin-left:6px;cursor:pointer;display:inline;}
.list .panel li:hover,.list .panel .cur{border-color:#313131;}
.list .panel li.lastnew{background:#ddd url("images/lastnew.jpg") top right no-repeat;color:#000;}
.list .panel-con .tab{float:none;height:80px;width:80px;line-height:80px;margin:0 auto 10px;}
.list .panel-con .vd-tab{width:100%;}
.jietu .con{margin:12px 0;position:relative;height:188px;width:353px;overflow: hidden;}
.jietu .con .t{position:absolute;width:72px;height:68px;background:url("../images/arrow.png") 0 0 no-repeat;left:0;top:0;z-index:9;}
.jietu .con li{display:inline;float:left;height:188px;width:353px;}
.jietu .j-btn{display:none;text-indent:-9999px;height:28px;width:24px;background:url("../images/cmb.png") -182px 0 no-repeat;position:absolute;top:80px;z-index:3;}
.jietu img{transition:all .4s ease;}
.jietu img:hover{transform:scale(1.04);}
.jietu .prev{left:0;}
.jietu .next{right:0;background-position:-208px 0;}
.jietu .prev:hover{background-position:-182px -31px;}
.jietu .next:hover{background-position:-208px -31px;}
.rolecard .tab{float:left;display:inline;width:40px;height:182px;overflow:hidden;}
.rolecard .tab a{display:block;height:100%;width:100%;background:url("../images/rolecard.png") 0 0 no-repeat;}
.rolecard .tab .a-tab-2{background-position:-42px 0;}
.rolecard .tab .a-tab-3{background-position:-84px 0;}
.rolecard .tab a:hover,.rolecard .cur a{background-position:-161px 0;}
.rolecard .tab .a-tab-2:hover,.rolecard .cur .a-tab-2{background-position:-203px 0;}
.rolecard .tab .a-tab-3:hover,.rolecard .cur .a-tab-3{background-position:-245px 0;}
.rolecard .tab-3{background-position:-84px 0;}
.rolecard .panel{width:267px;display:inline;float:left;width:0;overflow:hidden;}
.sec-5{height:194px;background:url("../images/sec5_bg.jpg") left top no-repeat;}
.kf-wrap{width:300px;}
.c-hd h4{color:#fff;font-size:16px;line-height:18px;margin-bottom:4px;}
.c-hd span{color:#434242;}
.kefu{width:270px;color:#a7a7a7;padding:15px 0 0 25px;position:relative;}
.kefu .c-hd h4{background-position:0 -153px;}
.kf-con{padding:4px 0 0;}
.kf-con p{line-height:22px;margin:6px 0;}
.kf-con a{display:inline-block;padding:1px 0;height:18px;line-height:18px;text-align:center;color:#fff;width:64px;background:#050505;}
.kf-con a:hover{color:#a7a7a7;}
.kefu .code{height:86px;width:86px;overflow:hidden;position:absolute;top:69px;left:186px;}
.game-data li{transition:all linear .3s;display:inline;float:left;width:260px;overflow:hidden;height:155px;padding:15px 15px 15px 25px;}
.game-data li:hover{background-color:rgba(136,22,16,0.3);}
.game-data li a{color:#a7a7a7;}
.game-data li a:hover{color:#fff;}
.game-data dt{position:relative;height:48px;color:#fff;font-size:16px;}
.game-data dt .cn{line-height:18px;}
.game-data dt .en{position:absolute;top:22px;left:0;font-size:12px;color:#434242;}
.game-data dt .line{position:absolute;top:24px;left:0;height:1px;overflow:hidden;background:#fff;opacity:.2;filter:alpha(opacity=20)}
.game-data dd{overflow:hidden;line-height:25px;padding-top:5px;overflow:hidden;}
.game-data dd p{width:250px;}
.game-data dd p a{width:54px;float:left;}
.game-data dd .more{position:relative;left:auto;right:auto;top:auto;display:block;}

.media-wp{width:293px;padding-left:35px;}
.links{width:850px;overflow:hidden;margin-right:10px;position:relative;}
.sec-6 .hd{position:absolute;height:50px;line-height:50px;padding-left:40px;color:#fff;font-size:14px;left:0;top:0;}
.sec-6 .bd{margin-left:122px;}
.links .hd{background:url("../images/link_hd.jpg") no-repeat 0 center;}
.links .bd{height:50px;overflow:hidden;}
.media{position:relative;height:50px;overflow:hidden;}
.media .hd{background:url("../images/media_hd.jpg") no-repeat 0 center;}
.links li{float:left;display:inline;line-height:50px;height:50px;width:75px;text-align:center;}
.links li a{color:#a7a7a7;}
.links li a:hover{color:#fff;}
.media .bd{padding-top:14px;}
.media .btn{font-size:14px;padding:0 18px;width:120px;display:block;background:#45474a;color:#a7a7a7;position:relative;height:22px;line-height:22px;text-align:left;position:relative;}
.media .btn i{display:block;position:absolute;right:15px;top:9px;border-style:solid;border-color:#c7c7c7 #45474a #45474a;border-width:6px;overflow:hidden;line-height:0;}
.media-list{position:absolute;left:122px;top:45px;width:156px;background:#232425;padding:5px 0;}
.scroll-media{height:50px;width:150px;margin:0 auto;}
.scroll-media li{width:150px;height:50px;}
.media-show{overflow:visible;}


.sec-6{margin:38px 0 50px;height:230px;background:#232425;color:#fff;overflow: hidden;}
.f-sec{float: left;height:280px;}
.toupiao{width: 20%;}
.lianjie{width: 25%;}
.lianjie,.toupiao{color: #a7a7a7;position: relative;border-right:1px solid #1f1e1e;margin-left: -1px;}
.hezuo{width: 55%;color: #a7a7a7;position: relative;}
.f-sec h4{color: #fff;font-size: 16px;line-height: 18px;margin-bottom: 4px;}
.gonggao{padding: 15px;height: 100%;}
.gg-lian{margin-top: 30px;}
.gg-lian a{float: left;display: inline-block;font-size: 14px;color:#a7a7a7;line-height: 30px;margin-right:8px;}
.gg-lian a:hover{color: #febc0f;}


.media-scroll{width:150px;margin:26px 0 0 30px;position: relative;}
.media-scroll a{margin-top: 5px;display: block;}

.marqueeCss{overflow: hidden;width: 150px;height: 200px;}

.gonggao h4,.gonggao .gg-mei{float: left;}
.gonggao .gg-mei li{float: left;cursor: pointer;text-align: center;margin-left: 20px;}
.gonggao ul .active{border-bottom: 1px solid #febc0f;color: #fff;}

.he-img{margin-top:40px;overflow: hidden;}
.he-img li{border-bottom: 1px dashed #000;line-height:24px;height: 24px;width:100%;margin-top: 10px;}
.he-img li a{color:#a7a7a7;font-size: 14px;}
.he-img li i{display: inline-block;float: right;margin-right: 5px;}




/* 内页 */
.side-video{margin:10px 0;width:100%;height:238px;overflow:hidden;background:#2d2d2f;}
.side-video .video-con{padding:15px 20px 0;}
.side-video .play-box{margin-top:5px;height:165px;width:228px;position:relative;background:#000;}
.side-video .play{position:absolute;width:100%;height:100%;background:url("../images/play_s_btn.png") center center no-repeat;}
.side-video .play span{display:none;}
.play-box .vd-play{background:url("../images/video_bg.jpg") left center no-repeat;width:218px;height:155px;margin:5px;position:relative;}
.play-box .vd-tab{text-align:center;margin:2px 0 0 5px;}
.vd-tab .tab{display:block;height:36px;width:36px;margin-bottom:2px;border:solid 1px #000;line-height:36px;color:#a7a7a7;overflow:hidden;}
.vd-tab .tab:hover,.vd-tab a.cur{border-color:#313131;}
.newsPage .kf-wp{height:195px;background:#2d2d2f;}
.newsPage .kefu{width:auto;}
.newsPage .kefu .code{left:178px;}
.news-wrap{background:#242425;width:918px;margin-left:7px;}
.i-news-hd{height:87px;background:url("../images/news_hd.png") center top no-repeat;color:#fff;padding:10px 22px;}
.i-news-hd span{display:block;color:#e8ebe4;font-size:24px;height:24px;line-height:24px;border-bottom:solid 1px #8f412b;padding-bottom:15px;margin-bottom:10px;}
.i-news-hd a{color:#fff;}
.i-news-hd a:hover{color:#bdbdbd;}
.news-main{padding:35px;min-height:630px;_height:630px;}
.news-list-main li{height:24px;line-height:24px;padding-bottom:2px;border-bottom:dashed 1px #d8edeb;margin-bottom:4px;}
.news-list-main li a{float:left;padding-left:10px;background:url("../images/gt.jpg") 2px 8px no-repeat;color:#093531;transition:all .3s linear;}
.news-list-main li a:hover{color:#ff8812;margin-left:10px;}
.pageNum{height:50px;margin:20px auto 0;padding-top:20px;text-align:center;}
.pageNum a{margin:3px;padding:5px 9px 3px;line-height:26px;border:1px solid #fff;color:#bdbdbd;border-radius:15px;}
.pageNum a:hover{background:#6d82a6;}
.article-con{color:#bdbdbd;}
.art-title{text-align:center;color:#f04f24;padding-bottom:10px;}
.art-title h1{font-size:28px;color:#f04f24;line-height:35px;}
.art-title .author{color:#bdbdbd;}
.art-main{padding-top:14px;font-size:14px;}
.art-main a{color:#bdbdbd;}
.article-relation{overflow:hidden;margin:50px 10px 0;font-size:12px;color:#bdbdbd;}
.article-relation dt{height:30px;line-height:30px;border-top:1px solid #8a8a8a;font-weight:bold;margin:5px 0;color:#bdbdbd;}
.article-relation dd{width:300px;display:inline;float:left;margin:0 22px 0 10px;overflow:hidden;height:30px;line-height:30px;}
.article-relation dd span{float:right;}
.article-relation a{color:#bdbdbd;}
.article-relation .time{color:#717171;}
.art-main a:hover,.article-relation a:hover{color:#ff8812;}
.article-list li{line-height:24px;margin-bottom:4px;font-size:14px;}
.article-list a{color:#fff;}

/* server page */
.s-body{background:url("../images/s-bg.jpg") center 0 no-repeat;color:#acacac;font-size:14px}
.s-body a{color:#fff;}
.s-wrap{background:url("../images/s-main.jpg") no-repeat;width:1100px;height:1100px;margin:0 auto;}
.s-header{position:relative;height:260px;}
.s-content{position:relative;margin: 108px 0 0 376px;width:682px;}
.s-logo{position:absolute;top:20px;left:0px;overflow:hidden;width: 264px; height: 146px;text-indent:-9999px;background:url("../images/s_logo.png") 0 0 no-repeat;}
.s-nav{height:38px;padding:68px 0 0 362px;}
.s-nav a{float:left;width:153px;height:38px;text-indent:-9999em;margin-left:24px;}
.s-nav .s-nav1{margin-left:0;}

/* s-loginframe */
.s-loginframe{position:absolute;top:174px;left:363px;width:682px;height:84px;}
.s-loginframe .log li{position:absolute;}
.s-loginframe .bg-icon{height:30px;border-radius:4px;width:218px;background:#fff url("../images/accout_icon.jpg") 0 center no-repeat;}
.s-loginframe .s-psw{background-image:url("../images/psw_icon.jpg");}
.s-text{margin-left:30px;width:165px;height:30px;padding-left:6px;font-family:"Microsoft Yahei";line-height:30px;color:#333;border:none;background:none;}
.s-user{top:21px;left:14px;}
.s-psw{top:21px;left:252px}
.s-log-btn{top:20px;left:480px;}
.s-log-btn a{display:block;background:url("../images/s_cmb.png") 0 0 no-repeat;width:188px;height:51px;}
.s-log-btn a:hover{background-position:0 -52px;}
.s-remember{top:58px;left:15px}
.s-psw-btn{top:58px;left:113px}
.s-reg-btn{top:58px;left:175px}

/* s-loged */
.s-body .loged{width: 660px;padding: 6px 0 0 21px;color:#5c5454;font-size:14px;}
.s-body .loged li{line-height:24px;float:left;width: 320px;color:#fff;}
.s-body .loged a{color:#fff;}
.s-body .loged a:hover{color:#a72c11;}
.s-body .loged .loged-highlight{color:#e75115;}

/* s-recommend-server */
.s-server-list{}
.s-server-list li{float:left;margin: 0  13px 10px 0;text-align:center;background: url("../images/s_cmb.png") 0 -180px no-repeat;width: 204px;height: 37px;}
.s-server-list li:hover{background-position: 0 -218px}
.s-server-list li a{display:block;width: 100%;height: 100%;line-height: 37px;overflow:hidden;font-size: 12px;}
.s-server-list li a:hover{color: #E8F742;font-size: 14px}
.s-server-list span{color: #ebbc35;}
.rec-server{height:95px;margin-top: 35px;}
#history li{background-position: 0 -104px;}
#history li:hover{background-position: 0 -142px;}

/* s-type-choose */
.s-body .type-choose{height:30px;position:relative;font-size:14px;margin-bottom:14px;color:#b69179;}
.s-body .select-dom{width:101px;height:20px;*margin-right:4px;/* background:#1f1308; */}
#selFastType{margin-right:10px;}
.s-body .select-con{height:20px;line-height:20px;width:101px;font-size: 12px;}
.s-body .select-btn{top:7px;right:8px;}
.s-body .s-fastin{height:20px;line-height:20px;}
.s-body #select-dom-xz{width:75px}
.s-body #select-dom-xz .select-con{width:75px;}
.s-body .option-bg{display:none;z-index:2;top:23px;left:0;*top:30px;}
.s-body .option-dom{}
.s-body .type-option-dom{font-size:12px;}
.s-body .type-option-dom li{line-height:16px;height:16px;}
.s-body .type-option-dom li:hover{background:#782110;color:#E8E8E8;}
#all-xz-server{overflow-y:auto;overflow-x:hidden;height: 450px;width: 668px;}
.s-body #btnFast{width:71px;height: 27px;line-height: 26px;transition:.5s;color: #fff;background: url("../images/s_cmb.png") 0 -256px no-repeat;border:0;box-shadow:1px 1px 2px #330606;border-radius:1px;font-size:12px;}
.s-body #btnFast:hover{color: #FF0;}

/* s-all-server */
.sp-pager{overflow:hidden;margin:0 0 6px 0;}
#nameList{*padding-bottom:8px}
.sp-pager li,#nameList a{line-height:24px;width:84px;height:24px;margin:0px 10px 8px 0;cursor:pointer;background:#6e5d4d;color: #FFFFFF;text-align:center;float:left;display:block;font-size:12px;}
.sp-pager li.hover,#nameList a.hover{background: #801414;}
.sp-pager li a{color:#fff}
/*video*/
.video-alert{width:654px;height:368px;background:#505050;position:fixed;top:50%;left:50%;margin:-180px 0 0 -320px;z-index:999;_position:absolute;_top:expression(eval(document.documentElement.scrollTop+300));border:3px solid #505050;display:none}
.video-code{width:654px;height:368px}
.video-close{position:absolute;width:44px;height:44px;top:-3px;right:-44px;display:block;background:url("../images/close.jpg") no-repeat}
.layout{display:none;position:absolute;left:0;top:0;height:100%;width:100%;background:#000;opacity:.4;filter:alpha(opacity=40);z-index:99}
@-webkit-keyframes circle{
    0%{-webkit-transform:scale(1)}
    100%{-webkit-transform:scale(1.1)}
}
@keyframes circle{
    0%{transform:scale(1)}
    100%{transform:scale(1.1)}
}
@-webkit-keyframes icoBig{
    0%{-webkit-transform:scale(1.5);opacity:.4}
    80%{-webkit-transform:scale(1.1);opacity:.8}
    100%{-webkit-transform:scale(1);opacity:1}
}
@keyframes icoBig{
    0%{transform:scale(1.5);opacity:.4}
    80%{transform:scale(1.1);opacity:.8}
    100%{transform:scale(1);opacity:1}
}

/*three*/
.three{top: 142px;left: 0;}
.loged .loged-top{display: none}
.three span{color:#bdbdbd}
.sq-third-link{display: inline-block;*display: inline;}
.three-icon{background: url(http://img1.37wanimg.com/common/css/images/three.png) no-repeat;width: 28px;height: 28px;display: inline-block;text-indent: -9999em;vertical-align: middle;margin: 0 6px;}
.three-wx{background-position:  -39px 0;}
.three-wb{background-position:  -78px 0;}
.s-body .three-icon{margin:0 4px;}
.three-wrap{ top:55px; left: 258px;}
.loged-usercenter a {margin-left: 10px;}


.tab_item{
	background:#0264B0;
	color: #ECF2F8;
	display: block;
}


.cs-clear li{width: 88px;overflow: hidden;}
.cs-clear li img{width: 100%;height: 100%;}

