@charset "utf-8";

a,input,button {
	padding: 0;
	margin: 0;
	outline: 0
}

ul,li {
	list-style: none
}

a,button {
	cursor: pointer
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	margin: 0 auto
}

input,select,img {
	vertical-align: middle
}

.cls {
	*zoom: 1
}

.cls:after {
	display: block;
	overflow: hidden;
	clear: both;
	height: 0;
	visibility: hidden;
	content: "."
}

.clear {
	clear: both
}

a {
	color: #13150e
}

a:hover {
	color: #429601;
	text-decoration: none
}

.hidden {
	display: none
}

em,i,strong {
	font-style: normal;
	font-weight: 400
}

.block-a {
	display: block;
	height: 100%;
	text-indent: -9999em;
	overflow: hidden
}

.body {
	color: #13150e;
	font: 14px/1.5 "Microsoft Yahei",SimSun;
	overflow-x: hidden
}

.header {
	width: 100%;
	height: 656px;
	position: relative;
	background: url(../images/top.png) no-repeat center 0
}

.wrap {
	width: 100%;
	height: 920px;
	background: url(../images/main.jpg) no-repeat center 0;
	position: relative
}

.inner {
	width: 1100px;
	margin: 0 auto
}

.side {
	overflow: hidden;
	width: 318px;
	float: left
}

.main {
	width: 773px;
	float: right
}

.bottom {
	width: 100%;
	height: 456px;
	background: url(../images/bottom.png) no-repeat center 0;
	_background: #D3E79F url(../images/bottom.png) no-repeat center 0
}

.backstretch {
	background: url(../images/bg.jpg) no-repeat;
	left: 0;
	top: 0;
	z-index: -1;
	position: fixed;
	_position: absolute;
	width: 100%;
	height: 100%;
	_height: 620px;
	overflow: hidden;
	background-size: 100% 100%
}

.logo {
	width: 224px;
	height: 110px;
	text-indent: -9999px;
	overflow: hidden;
	position: absolute;
	left: 50%;
	top: 0;
	display: block;
	z-index: 2;
	background: url(../images/logo.png);
	margin-left: -112px
}

.nav {
	height: 65px;
	line-height: 65px;
	top: 0;
	left: 0;
	z-index: 3;
	position: relative;
	width: 100%
}

.nav-bg {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 65px;
	background: #fff;
	opacity: .7
}

.nav-top {
	width: 1050px;
	margin: 0 auto;
	text-align: center;
	font-size: 16px;
	position: relative;
	z-index: 2
}

.nav-top li {
	width: 124px;
	float: left;
	_display: inline;
	overflow: hidden;
	height: 65px
}

#li4 {
	margin-left: 306px
}

.nav-top a {
	display: block;
	overflow: hidden;
	width: 100%;
	height: 100%;
	line-height: 65px
}

.nav-top a:hover,.nav-show a {
	color: #3b750e
}

.nav-top em {
	display: inline-block
}

.nav-top i {
	font-size: 30px;
	display: none
}

.nav-top a:hover i,.nav-show i {
	display: inline-block;
	vertical-align: top
}

.tips18 {
	position: absolute;
	bottom: 2px;
	color: #2e342a;
	left: 50%;
	z-index: 2;
	margin-left: 260px
}

#qq {
	position: absolute;
	left: 50%;
	bottom: 2px;
	width: 90px;
	height: 22px;
	text-indent: -9999px;
	overflow: hidden;
	background: url(../images/png.png) no-repeat;
	z-index: 2;
	margin-left: 460px
}

.start {
	height: 96px;
	width: 100%;
	background: url(../images/jpg.jpg) no-repeat;
	display: block;
	padding-top: 36px
}

.start:hover {
	background-position: -319px 0
}

.start span,.start span:after {
	display: block;
	width: 186px;
	height: 60px;
	margin: 0 auto;
	background: url(../images/png.png) no-repeat -8px -304px;
	content: "";
	cursor: pointer
}

.start:hover span:after {
	animation: linear icoBig 500ms;
	-webkit-animation: linear icoBig 500ms
}

@-webkit-keyframes icoBig {
	100% {
		-webkit-transform: scale(1.2);
		transform: scale(1.2);
		opacity: 0
	}
}

@keyframes icoBig {
	100% {
		transform: scale(1.2);
		opacity: 0
	}
}

.quick-links {
	width: 100%;
	height: 48px
}

.quick-links a {
	width: 50%;
	height: 100%;
	background: url(../images/jpg.jpg) no-repeat 0 -132px;
	display: block;
	float: left
}

.quick-links .charge-btn {
	background-position: -159px -132px
}

.quick-links .reg-btn:hover {
	background-position: -319px -132px
}

.quick-links .charge-btn:hover {
	background-position: -478px -132px
}

.login {
	height: 126px;
	font-size: 12px;
	background: #2E342A;
	color: #787e74
}

.colored {
	color: #FFCD55
}

.login a {
	color: #787e74
}

.login a:hover {
	color: #429601
}

.log {
	position: relative
}

.log li {
	position: absolute
}

.text {
	width: 157px;
	height: 26px;
	line-height: 26px;
	padding: 0 10px;
	font-family: "Microsoft Yahei";
	background-color: #A5B09F;
	color: #2E342A
}

.user {
	left: 25px;
	top: 19px
}

.psw {
	left: 25px;
	top: 58px
}

.user label,.psw label {
	display: none
}

.remember {
	left: 25px;
	top: 96px;
	line-height: 12px
}

.get-psw {
	left: 136px;
	top: 96px;
	line-height: 12px
}

.log-btn {
	left: 215px;
	top: 20px
}

.log-btn a {
	width: 76px;
	height: 65px;
	background: url(../images/jpg.jpg) no-repeat -638px 0
}

.log-btn a:hover {
	background-position: -638px -66px
}

.loged {
	margin: 0 auto;
	padding: 14px 0 0;
	width: 261px;
	color: #a5b09f
}

.loged li {
	line-height: 20px
}

.loged a {
	color: #a5b09f
}

.loged .colored {
	color: #e0e804
}

.loged-usercenter {
	text-align: right
}

.loged-usercenter a {
	margin-left: 12px
}

.server {
	height: 188px;
	background: #3A3F36
}

.quick-ingame {
	color: #bcc9b5;
	line-height: 45px;
	height: 43px
}

.quick-ingame em {
	color: #dbe3d7;
	font-size: 20px;
	padding-left: 26px;
	width: 108px;
	display: inline-block
}

.btn-small {
	width: 57px;
	height: 21px;
	display: inline-block;
	overflow: hidden;
	background: #F0F5E4;
	border-radius: 2px;
	line-height: 21px;
	font-size: 12px;
	text-align: center;
	color: #2e342a;
	vertical-align: middle
}

.btn-small:hover {
	background: #3B750E;
	color: #f0f5e4
}

.server ul {
	height: 99px;
	margin-top: 0;
	overflow: hidden
}

.server li {
	height: 26px;
	line-height: 28px;
	overflow: hidden;
	margin: 7px 0 0;
	background: #333730
}

.server li:last-child {
	border: 0
}

.server li a {
	display: block;
	background: url(../images/png.png) no-repeat 0 -73px;
	padding-left: 30px;
	color: #a2a99e;
	margin: 0 0 0 38px
}

.server li span {
	float: right;
	color: #e0e804;
	margin-right: 30px
}

.server li a:hover {
	color: #d99502
}

.server-more {
	background: #2E342A;
	height: 38px;
	padding: 8px 0 0
}

.server-more a {
	color: #a2a99e;
	background: #1e221c;
	display: block;
	width: 271px;
	height: 31px;
	line-height: 31px;
	text-align: center;
	margin: 0 auto;
	border-radius: 2px
}

.server-more a:hover {
	background: #3B750E;
	color: #f0f5e4
}

.fastin-input {
	width: 44px;
	height: 18px;
	text-align: center;
	line-height: 18px;
	color: #bcc9b5;
	background: #1E221C
}

.qr {
	background: #3A3F36;
	height: 90px;
	position: relative;
	color: #a2a99e
}

.qr em {
	color: #dbe3d7;
	font-size: 16px;
	line-height: 30px
}

.qr p {
	position: absolute;
	left: 34px;
	top: 7px;
	font-size: 12px
}

#qrCode {
	position: absolute;
	right: 30px;
	top: 7px;
	width: 78px;
	height: 78px;
	background: url(../images/jpg.jpg) -715px 0 no-repeat
}

.service {
	line-height: 24px;
	height: 144px;
	background: #2E342A;
	color: #a2a99e;
	padding: 7px 0 0 26px
}

.service em {
	font-size: 20px;
	color: #dbe3d7;
	line-height: 36px
}

.bs1 {
	margin-right: 10px
}

.media {
	height: 72px;
	overflow: hidden;
	background: #3A3F36;
	position: relative
}

.media em {
	color: #dbe3d7;
	font-size: 20px;
	padding-left: 26px;
	line-height: 72px
}

.media-wrap {
	width: 150px;
	height: 50px;
	overflow: hidden;
	position: absolute;
	right: 34px;
	top: 12px
}

.media-scroll ul {
	overflow: hidden;
	/*width: 2250px;*/
	width: 1950px;
	height: 50px;

}

.media-scroll li {
	width: 150px;
	height: 50px;
	float:left;
	overflow: hidden;
}

.kv {
	width: 767px;
	height: 270px;
	position: relative;
	border: 3px solid #3B750E;
	background: #e2ebc9;
	overflow: hidden
}

.kv-img {
	height: 270px;
	overflow: hidden
}

.kv-num li {
	float: left;
	cursor: pointer;
	font-size: 12px;
	display: block;
	text-align: center;
	line-height: 30px
}

.kv-num a {
	border-right: 1px solid #4C4C4C;
	display: inline-block;
	width: 100%;
	height: 13px;
	line-height: 13px
}

.kv-num li:hover a,.kv-num li.focus a {
	color: #3b750e
}

.kv-num li:last-child a {
	border: 0
}

#news {
	float: left;
	width: 449px;
	height: 266px;
	border-right: 1px solid #C5C9BC;
	background: #F0f5E4;
	margin: 0 0 15px;
	padding: 22px 25px 0;
	overflow: hidden
}

#news-more {
	float: right;
	display: block;
	color: #575f63;
	width: 17px;
	height: 17px;
	background: url(../images/png.png) no-repeat 0 -29px;
	text-indent: -9999em;
	margin: 7px 9px 0 0
}

#news-more:hover {
	background-position: 0 -54px
}

#news-tab {
	background: #2e342a;
	height: 30px;
	line-height: 30px
}

#news-tab ul {
	height: 38px
}

#news-tab li {
	float: left;
	display: inline;
	font-size: 16px;
	margin: 0 1px 0 0
}

#news-tab li a {
	display: block;
	width: 69px;
	color: #f0f5e4;
	text-align: center;
	height: 38px
}

#news-tab li a:hover,#news-tab li.current a {
	background: url(../images/png.png) no-repeat -91px 0
}

.headline {
	height: 39px;
	text-align: center;
	line-height: 39px;
	overflow: hidden;
	width: 100%;
	border-bottom: 1px dashed #BCC0C2
}

.headline-title {
	color: #3b750e;
	font-size: 16px;
	font-weight: 700;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	display: block
}

.news-list {
	padding: 8px 0 0
}

.news-list li {
	height: 28px;
	line-height: 28px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis
}

.a-link {
	transition: all .2s ease;
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-o-transition: all .2s ease
}

.a-link:hover {
	padding-left: 5px
}

.news-list a:hover {
	text-decoration: underline
}

.time {
	color: #bcc0b2;
	float: right
}

.huodong {
	height: 267px;
	overflow: hidden;
	width: 245px;
	background: #F0F5E4;
	padding: 21px 0 0 28px;
	_width: 242px;
	margin: 0 0 15px
}

.huodong a {
	width: 218px;
	height: 75px;
	display: block;
	background: url(../images/index.jpg) no-repeat;
	margin: 0 0 13px
}

#hd1 {
	background-position: 0 -123px
}

#hd2 {
	background-position: 0 -199px
}

#hd3 {
	background-position: 0 -275px
}

.huodong em {
	font-size: 16px;
	color: #fff;
	padding: 7px 0 0 6px;
	display: block;
	font-weight: 700
}

.huodong p {
	color: #c8e4f6;
	font-size: 12px;
	padding-left: 6px
}

#hd2 p {
	color: #efe6f8
}

#hd3 p {
	color: #f8eed7
}

.huodong a:hover em {
	padding: 6px 0 0 6px
}

.huodong a:hover p {
	padding: 2px 0 0 6px
}

.ziliao {
	width: 451px;
	height: 203px;
	background: #f0f5e4;
	overflow: hidden;
	border-right: 1px solid #C5C9BC;
	padding: 18px 24px 0;
	float: left
}

.zl-con {
	height: 112px;
	width: 278px;
	position: relative;
	background: url(../images/index.jpg) no-repeat;
	padding: 10px 0 0 10px
}

.zl-con a {
	width: 66px;
	display: inline-block;
	line-height: 28px;
	text-align: center;
	font-size: 13px
}

.zl-con .zl-more {
	position: absolute;
	bottom: 2px;
	right: 0;
	color: #7d7f78;
	width: 76px;
	text-decoration: underline
}

.zl-con .zl-more:hover {
	color: #429601
}

.zl-bg {
	width: 150px;
	height: 122px;
	background: url(../images/index.jpg) no-repeat;
	float: right;
	margin-right: 13px;
	_margin: 0
}

.zl-bg.zl0 {
	background-position: -288px 0
}

.zl-bg.zl1 {
	background-position: -288px -123px;
	display: none
}

.zl-bg.zl2 {
	background-position: -288px -246px;
	display: none
}

.zl-tab {
	width: 449px;
	height: 58px;
	border: 1px solid #C5C9BC;
	float: left
}

.zl-tab li {
	cursor: pointer;
	width: 149px;
	background: url(../images/index.jpg) no-repeat 0 -351px;
	float: left;
	border-right: 1px solid #C5C9BC;
	font-size: 18px;
	line-height: 58px;
	text-align: center
}

.zl-tab li:hover,.zl-tab .d-current {
	background: #3B750E;
	color: #f0f5e4
}

#zlLast {
	border: 0
}

.jt {
	width: 218px;
	float: left;
	height: 211px;
	background: #f0f5e4;
	overflow: hidden;
	padding: 10px 27px 0 28px;
	position: relative
}

.jt em {
	color: #2e342a;
	font-size: 18px
}

.jt-num {
	position: absolute;
	bottom: 28px;
	right: 28px
}

.jt-num li {
	float: left;
	margin-right: 6px;
	color: #474E53;
	cursor: pointer;
	font-size: 28px;
	text-indent: -9999px;
	width: 13px;
	height: 13px;
	background: #474E53;
	display: inline-block;
	border-radius: 7px
}

.jt-num li:hover,.jt-num li.j-focus {
	background: #439A00
}

.links {
	width: 100%;
	float: left;
	height: 54px;
	overflow: hidden;
	background: #D3E3AB
}

.links em {
	font-size: 18px;
	color: #2e342a;
	padding-left: 15px;
	float: left;
	_display: inline;
	line-height: 54px;
	width: 84px
}

.link-wrap {
	overflow: hidden;
	width: 660px;
	float: left
}

.links a {
	white-space: nowrap;
	margin: 8px 3px 0;
	display: inline-block;
	line-height: 40px
}

.role {
	width: 1100px;
	height: 100%;
	position: relative;
	margin: 0 auto
}

.control {
	width: 72px;
	height: 166px;
	background: url(../images/png.png) no-repeat;
	position: absolute;
	top: 168px;
	cursor: pointer;
	transition: .5s
}

.left {
	background-position: -330px -83px;
	left: 0
}

.right {
	background-position: -409px -83px;
	right: 0
}

.left:hover {
	left: -6px
}

.right:hover {
	right: -6px
}

.role-tab {
	width: 299px;
	height: 23px;
	background: url(../images/png.png) no-repeat -163px 0;
	position: absolute;
	bottom: 0;
	right: 15px;
	padding: 8px 0 0 15px
}

.role-tab li {
	width: 55px;
	border-right: 2px solid #4C4D48;
	color: #d3d5cf;
	text-align: center;
	float: left;
	height: 16px;
	line-height: 16px;
	cursor: pointer
}

#roleLast {
	border: 0
}

.role-tab li:hover,.role-tab .r-focus {
	color: #429601
}

.role-con {
	width: 548px;
	height: 426px;
	position: absolute;
	left: 118px;
	bottom: 0;
	background-repeat: no-repeat
}

.role0 {
	background-image: url(../images/role0.png)
}

.role1 {
	background-image: url(../images/role1.png)
}

.role2 {
	background-image: url(../images/role2.png)
}

.role3 {
	background-image: url(../images/role3.png)
}

.role4 {
	background-image: url(../images/role4.png)
}

.role-des {
	background: url(../images/png.png) no-repeat -10px -116px;
	left: 614px;
	top: 70px;
	position: absolute;
	color: #10130c;
	font-size: 16px;
	line-height: 24px;
	height: 128px;
	width: 244px;
	padding: 0 0 0 62px
}

.role-des em {
	font-size: 18px;
	font-weight: 700;
	padding-top: 26px;
	display: block
}

.role-des .three {
	padding-top: 16px
}

.c-wrap {
	height: auto;
	background: #D3E79F url(../images/c-main.jpg) no-repeat center 0
}

.c-wrap .inner {
	padding-bottom: 98px
}

.c-wrap .main {
	background: #f0f5e4
}

.article strong {
	font-weight: 700
}

.article-top {
	position: relative;
	height: 71px;
	background: url(../images/c-top.jpg) no-repeat
}

.article-top span {
	font-size: 32px;
	color: #e5edde;
	padding: 18px 0 0 26px;
	display: inline-block
}

.bread-nav {
	position: absolute;
	right: 28px;
	bottom: 8px;
	color: #AECC94;
	width: 568px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	text-align: right
}

.bread-nav a {
	color: #aecc94
}

.article-main {
	min-height: 685px;
	padding: 28px;
	_height: 685px
}

.article-title {
	padding: 22px 0 0;
	text-align: center;
	color: #717174;
	font-size: 12px
}

.article-title h1 {
	color: #d55c03;
	font-size: 24px;
	font-weight: 400
}

.article-detail {
	text-align: center;
	color: #8f968b;
	font-size: 12px;
	border-bottom: 1px dashed #BFC3B5;
	padding: 4px 0 16px
}

.article-content {
	font-size: 14px;
	padding: 18px 20px
}

.article-content a {
	color: #429601
}

.article-relation {
	overflow: hidden;
	color: #717171;
	line-height: 30px
}

.article-relation dt {
	border-bottom: 1px solid #B3B3B3;
	margin: 0 0 12px
}

.article-relation dd {
	display: inline;
	float: left;
	overflow: hidden;
	width: 47%;
	height: 30px;
	margin: 0 0 0 2%;
	font-size: 12px
}

.article-relation dd span {
	float: right
}

.article-list {
	margin: 0 auto
}

.article-list li {
	height: 28px;
	line-height: 28px;
	border-bottom: 1px dashed #dee3d3;
	overflow: hidden
}

.article-list a {
	color: #1E1F1F;
	height: 28px;
	line-height: 28px;
	display: inline-block;
	vertical-align: top;
	width: 660px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap
}

.article-list a:hover {
	color: #429601
}

.article-list .time {
	color: #bcc0b2
}

.article-icon {
	width: 9px;
	background: url(../images/arrow.png) no-repeat 0 9px;
	display: inline-block;
	height: 28px
}

.pageNum {
	text-align: center;
	margin: 0 auto;
	padding: 20px 0
}

.pageNum a,.pageNum .current {
	height: 24px;
	display: inline-block;
	font-size: 12px;
	line-height: 24px;
	margin: 2px;
	color: #FFF;
	background: #BE8909;
	padding: 0 9px
}

.pageNum a:hover {
	background: #A4C86B
}

.pageNum .current {
	background: #38700B;
	color: #F0F5E4
}

.article-content .card-btn {
	color: #FFF
}

.s-body {
	background: url(../images/s-bg.jpg) center 0 no-repeat
}

.s-body a {
	color: #96989c
}

.s-wrap {
	background: url(../images/s-main.jpg) no-repeat;
	width: 1100px;
	height: 1050px;
	margin: 0 auto;
	background-image: url(../images/s-main.jpg)
}

.s-header {
	position: relative;
	height: 261px
}

.s-content {
	position: relative;
	margin: 29px 0 0 452px;
	width: 618px
}

.s-logo {
	position: absolute;
	top: 20px;
	left: 106px;
	overflow: hidden;
	width: 266px;
	height: 126px;
	text-indent: -9999px
}

.s-nav {
	height: 69px;
	padding: 0 0 0 418px
}

.s-nav a {
	float: left;
	width: 161px;
	height: 69px;
	margin-right: 1px;
	text-indent: -9999em
}

.s-nav a:hover {
	background: url(../images/server.jpg) no-repeat 0 -5px
}

#sNav2 {
	width: 164px
}

#sNav3 {
	width: 163px
}

#sNav2:hover {
	background-position: -162px -5px
}

#sNav3:hover {
	background-position: -327px -5px
}

#sNav4:hover {
	background-position: -491px -5px
}

.s-loginframe {
	position: absolute;
	top: 130px;
	left: 418px;
	height: 96px;
	color: #999;
	font-size: 12px;
	width: 652px
}

.s-text {
	width: 180px;
	height: 25px;
	line-height: 25px;
	padding: 3px 6px;
	background: #646567;
	border-radius: 2px;
	font-family: "Microsoft Yahei";
	color: #E8F1F6
}

.s-user {
	top: 25px;
	left: 34px
}

.s-psw {
	top: 25px;
	left: 235px
}

.s-log-btn {
	position: absolute;
	top: 24px;
	left: 437px
}

.s-log-btn a {
	display: block;
	width: 191px;
	height: 51px;
	background: url(../images/server.jpg) no-repeat 0 -75px
}

.s-log-btn a:hover {
	background-position: 0 -126px
}

.s-remember {
	top: 64px;
	left: 34px
}

.s-get-psw {
	top: 64px;
	left: 238px
}

.s-reg-btn {
	top: 64px;
	left: 302px
}

.s-body .loged {
	display: block;
	font-size: 14px;
	padding: 18px 0 0 33px;
	width: 619px
}

.s-body .loged li {
	line-height: 24px;
	float: left;
	width: 309px;
	color: #646567
}

.s-body .loged a:hover {
	color: #429601
}

.s-body .colored {
	color: #ec5707
}

.s-body .loged a.colored {
	color: #ec5707
}

.s-body .loged a.colored:hover {
	color: #429601
}

.s-body .quick-ingame {
	color: #2a2e34;
	width: 588px;
	text-align: center;
	padding: 20px 0 0
}

.s-body .fastin-input {
	color: #2a2e34;
	background: #989A9E
}

.s-body .fastin-btn {
	width: 64px;
	height: 26px;
	background: url(../images/server.jpg) no-repeat -381px -75px;
	display: inline-block;
	line-height: 26px;
	color: #eaeef5;
	font-size: 14px
}

.s-body .fastin-btn:hover {
	background-position: -381px -102px;
	color: #EAEEF5
}

.s-name {
	font-size: 18px;
	color: #be5821;
	line-height: 42px;
	padding: 7px 0 0
}

.s-server-list li {
	line-height: 40px;
	float: left;
	width: 188px;
	height: 40px;
	margin: 0 12px 10px 0;
	text-align: center;
	background: url(../images/server.jpg) -192px -75px no-repeat;
	font-size: 12px
}

#rec-server li {
	margin-bottom: 0
}

.s-server-list a {
	display: block;
	height: 100%;
	color: #fdfcfb
}

.s-server-list a:hover {
	font-size: 13px;
	color: #E8F742
}

.s-server-list span {
	color: #e8f742
}

/*.all {
	overflow-y: auto;
	height: 588px
}*/

.sp-panel-wrap{
	overflow-y: auto;
	height: 550px
}

.sp-panel-wrap li {
	background-position: -192px -116px
}

.sp-pager li {
	line-height: 22px;
	width: 66px;
	height: 23px;
	margin: 0 6px 4px 0;
	cursor: pointer;
	background: #646567;
	color: #d4d5d6
}
.sp-pager li:hover{
	background: #0264B0;
	color: #ECF2F8
}

.sp-pager {
	overflow: hidden;
	margin: 0 0 14px
}

.sp-pager li.on {
	background: #0264B0;
	color: #ECF2F8
}

.s-body .loged a {
	color: #646567
}

.sq-dialog-content {
	text-align: center
}

.new-server {
	width: 100%;
	height: 77px;
	display: block;
	background: url(../images/new-server.jpg) no-repeat
}





.tab_item{
	display: block;
    height: 100%;
    background: #0264B0;
    color: #ECF2F8;
}