
#psdDom_EAEDC2F9A9EB_10{display: block;}
#psdDom_EAEDC2F9A9EB_0{/* margin: 0px auto; */overflow: hidden;position: relative;width: 645px;height: 362px;min-width: 1040px;top: 0px;left: 0px;}
#psdDom_EAEDC2F9A9EB_1{width: 645px; height: 362px; top: 0px; left: 0px;}
#psdDom_EAEDC2F9A9EB_2{width: 645px; height: 362px; top: 0px; left: 0px; background: url(../img/5747cb4dc0e50aaf9e8b4d0b.jpg) no-repeat;}
#psdDom_EAEDC2F9A9EB_3{width: 569px; height: 314px; top: 24px; left: 62px;}
#psdDom_EAEDC2F9A9EB_4{width: 241px; height: 96px; top: -31px; left: 300px; background: url(../img/5747cb4dc0e50aaf9e8b4d09.png) no-repeat;}
#psdDom_EAEDC2F9A9EB_13{width: 293px; height: 160px; top: 154px; left: 0px;}
#psdDom_EAEDC2F9A9EB_12{margin: 0px;}
#psdDom_EAEDC2F9A9EB_15{width: 291px; height: 155px; top: 0px; left: 1px;}
#psdDom_EAEDC2F9A9EB_11{display: block;}

/*登录注册*/
#psdDom_EAEDC2F9A9EB_3 .register label{color:#fff;}
#psdDom_EAEDC2F9A9EB_3 .register{position: absolute;bottom:40px;left:10px; z-index: 10000;font-size: 14px;}
#username{margin-bottom: 10px;margin-top: 10px;}
#username,#password{height: 20px;margin-left: 10px;}


	#psdDom_EAEDC2F9A9EB_12 .newtabs{background-image:url(../img/news_tab.jpg)}
	#psdDom_EAEDC2F9A9EB_12 .newtabs p{color:#5d688b}
	#psdDom_EAEDC2F9A9EB_12 .newtabs p.on{background-image:url(../img/news_tab_hover.jpg);color:#7583ae}
	#psdDom_EAEDC2F9A9EB_12 .newcom_more{background-image:url(../img/more.jpg)}
	#psdDom_EAEDC2F9A9EB_12 .newcoms{background:#222836}
	#psdDom_EAEDC2F9A9EB_12 .newcom_box .new_list label{color:#edc356}
	#psdDom_EAEDC2F9A9EB_12 .newcom_box .new_list a{color:#fff}
	#psdDom_EAEDC2F9A9EB_12 .newcom_box .new_list a span em{color:#edc356}
	#psdDom_EAEDC2F9A9EB_12 .new_list .new_date{color:#fff}
	#psdDom_EAEDC2F9A9EB_14 .J_content li{width:291px;height:155px}
	#psdDom_EAEDC2F9A9EB_14 .mod-slide-content li p{height:40px;line-height:40px;font-size:14px}
	#psdDom_EAEDC2F9A9EB_14 .mod-slide-trigger li{width:20px;height:8px;background-color:#fff}
	#psdDom_EAEDC2F9A9EB_14 .mod-slide-trigger{bottom:15px}
	#psdDom_EAEDC2F9A9EB_14 .mod-slide-trigger li.selected{background-color:#289edd}
