/*2016-03-31
14:30
*/


#psdDom_EAEDC2F9A9EB_1,#psdDom_9F5BDEF75F7E_1{width:667px;height:314px;overflow:hidden!important;}
html,body{overflow: hidden;cursor:default;}
.cs-clear{+zoom:1;}
.cs-clear:before,
.cs-clear:after{clear:both;content:".";font-size:0;display:block;height:0;overflow:hidden;visibility:hidden;}

/*登录页*/
/*文章列表*/

div#psdDom_EAEDC2F9A9EB_13 .newtabs{height:34px;background: #171c2c;}
.articleListLYn .newtabs p{height:34px;line-height:34px;}
div#psdDom_EAEDC2F9A9EB_13 .newtabs p{width:50px;}
div#psdDom_EAEDC2F9A9EB_13 .newtabs p.on{text-align:center;background:#22283c;background-image:none;color:#6d7aa3;}
div#psdDom_EAEDC2F9A9EB_13 .newcom_more{display: none;}
div#psdDom_EAEDC2F9A9EB_13psdDom_EAEDC2F9A9EB_13 .newcoms{background: none;}
div#psdDom_EAEDC2F9A9EB_13 .newcom_box{padding:0px;}

div#psdDom_EAEDC2F9A9EB_13 .newcom_box .new_list li{line-height:23px;margin-left:5px;}
div#psdDom_EAEDC2F9A9EB_13 .newcom_box .new_list a{width:186px;}
div#psdDom_EAEDC2F9A9EB_13 .newcom_box .new_list a span em{width:186px;}

div#psdDom_EAEDC2F9A9EB_13 .newcom_box .new_list a ,#div#psdDom_EAEDC2F9A9EB_13 .newcom_box .new_list a span em { width: 190px;}
#psdDom_8E037AA69C0F_3 #psdDom_8E037AA69C0F_4{cursor:pointer;}
.articleListLYn .newcom_box .new_list .new_date{float: right;margin-right: 10px;}
div.articleListLYn{width:290px;}

/*头图阴影*/
#psdDom_EAEDC2F9A9EB_14 .mod-slide-content li p{background:0;font-size:0px;}


/*more*/
#psdDom_844FFC030DAA_19 .newcom_more{width:0px;height:0px;overflow:hidden;}

/*选服页*/
/*选服*/
.serverBox{width: 605px;padding:0px;}

/*用户信息*/
div#psdDom_BE2A5AA13674_21{background:none;font-size:13px;left: 60px;width:130px;}
div#psdDom_BE2A5AA13674_20{left: 200px;background:url(http://static.wb.yy.com/5732fab1c0e50a1c798b536c.png) no-repeat;margin-top:2px;}


/*进入游戏*/
a#psdDom_844FFC030DAA_5{cursor:pointer;}

/*更多服务器*/
div.mod_server,div.serverBox {margin-top:0px;width:100%;height: 130px;}

div.serverBox{padding-top: 10px;}
.serverTab a{background-image: url(http://static.wb.yy.com/56fc9903c0e50a5fe58b45cd.png);border:1px solid #202a34;border-bottom:0px;}
/*服务器列表按钮*/
#psdDom_9F5BDEF75F7E_28 a.serverItem,#psdDom_82467FB7E362_11 .serverItem{
    width:86px;height:26px;margin: 5px 10px;color: #c1cdff;background: url(http://yytmld.duowan.com/s/wd/img/5747d4c2c0e50a807c8b5b1a.jpg) no-repeat 0 0;
    font-size:12px;cursor:pointer;line-height:24px;}
#psdDom_9F5BDEF75F7E_28 a:hover{color:red;}

/*最新or全部服务器*/
#psdDom_9F5BDEF75F7E_28 .serverTab a{background:url(http://yytmld.duowan.com/s/wd/img/5747d638c0e50a44198b5daf.jpg);color:#d4deff;font-size:14px;width:80px;height:26px;line-height:26px;}
#psdDom_9F5BDEF75F7E_28 .serverTab a.on{background:url(http://yytmld.duowan.com/s/wd/img/5747d635c0e50aaf9e8b4d15.png);}


/*您好*/
.hello{color:#ffab49;position:absolute;top:0px;left:2px;font-size:14px;}

/*XXX，注销*/
#psdDom_BE2A5AA13674_21,#psdDom_BE2A5AA13674_20{cursor:pointer;color:#ffab49;}

/*最近服务器*/
#psdDom_9F5BDEF75F7E_13 a{
    color:#c1cdff;font-size:12px;
    width: 86px;
    height:28px;

    font-size: 12px;
    cursor: pointer;
    line-height: 24px;}
#psdDom_9F5BDEF75F7E_13 .wd-recser a{background: url(../img/5747d4c2c0e50a807c8b5b1a.jpg) no-repeat 0 0;width:86px;height:26px;display: inline-block;overflow: hidden;}
#psdDom_9F5BDEF75F7E_13 .wd-recser a span{padding-left: 25px;}
#psdDom_9F5BDEF75F7E_13 .wd-recser a span:hover{color:red;}
    
.wd-recser{margin-left:160px;}


#psdDom_9F5BDEF75F7E_13{height:30px;}

#psdDom_9F5BDEF75F7E_23{color:#fff;background:none; height: 20px;
    font-size: 12px;
    width: 80px;
    line-height: 10px;}
    
#psdDom_EAEDC2F9A9EB_4{cursor:pointer;}
#psdDom_EAEDC2F9A9EB_12{border:1px solid #171c2c;}
#psdDom_9F5BDEF75F7E_3,#psdDom_9F5BDEF75F7E_28{width:500px;}
#psdDom_9F5BDEF75F7E_2{background:url(../img/5747df6bc0e50a1c798b5b59.jpg);width:667px;}
#psdDom_9F5BDEF75F7E_21{cursor:pointer;    left: 230px;}

div#psdDom_EAEDC2F9A9EB_13 {
    width: 293px;
    height: 160px;
top: 12px;
    left: 260px;
}
div#psdDom_EAEDC2F9A9EB_15 {
overflow:visible!important;
    top: 12px;
    left: -30px;
}
.generalEl{overflow:visible!important;}
div#psdDom_EAEDC2F9A9EB_4 {
    top:184px;
    left: 155px;}
div.articleListLYn .newcoms{height:120px;}
#psdDom_9F5BDEF75F7E_22{left:135px;}

#psdDom_EAEDC2F9A9EB_2{background:url(http://yytmld.duowan.com/s/newGW/img/5747cb4dc0e50aaf9e8b4d0b.jpg);    width: 667px;}